body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    letter-spacing: 0.04em;
    background-color: #eeeeee;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 100px;
    padding-top: 64px;
    align-items: center;
  }
  
  .container h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    transform: translateY(120px);
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* full viewport height */
  }
  
  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
  }
  
  /* Input boxes */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 400px;
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  /********************************************************/
  /* Submit Button Container */
  /* Centre the button */
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  /* Submit Button */
  button {
    background-color: #eeeeee;
    color: black;
    padding: 10px 20px;
    margin: 30px 0 5px 0;
    cursor: pointer;
    width: 175px;
    font-size: 16px;
    font-weight: 500;
  }
  
  /* Add a hover effect for login button */
  button:hover {
    opacity: 0.8;
  }