
body {
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    letter-spacing: 0.04em;
    background-color: #eeeeee;
}


.container {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 300px 150px 300px;
}

.container:first-child {
    margin-top: 40px;
}

.container section {
    margin-bottom: 20px;
}


.box {
    border-collapse: collapse;
    width: 1000px;
    height: 400px;
}


/* Assignment Head */

.assignment-wrapper {
    border: 3px solid #6b7280;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

.assignment-header {
    text-align: left;
}

.assignment-semester, .assignment-title {
    font-size: 20px;
}

.assignment-title {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

.divider {
    width: calc(100% + 20px);
    height: 3px;
    background-color: #6b7280;
    margin-left: -10px;
    margin-right: -10px;
}

.box {
    height: auto;
}



/* Marker Progress */

.moderation-cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.moderation {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: auto;
    border: 3px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    background-color: white;
}


.moderation-head {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

canvas {
    width: 100px;
    height: 100px;
}

.moderation-chart-wrapper {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}


.moderation-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    margin-top: 15px;
}


.moderation-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}


.moderation-stats-wrapper {
    display: flex;
    flex-direction: column;
}


.mini-divider {
    width: calc(100% + 20px);
    height: 3px;
    background-color: darkgray;
    margin-left: -10px;
    margin-right: -10px;
}


.submitted::before, .unmarked::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
    transform: translateY(-2px) translateX(-1px);
}

.submitted::before {
    background-color: #1B998B;
}

.unmarked::before {
    background-color: #E94F37;
}


/* Admin's Markings */

.moderation-markings {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.moderation-body-2 {
    margin-top: 10px;
}


.moderation-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.moderation-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.moderation-info p {
    margin: 0;

}

.moderation-info span {
    text-align: right;
}

.marking-due-date {
    color: red;
}

.marking-total-score {
    color: dodgerblue;
}


/* Statistics */


.stats-wrapper {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px #4a4646;
}

.stats-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


.stats-table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    min-width: 700px;
    text-align: center;
    border: 2px solid #6b7280;
    table-layout: fixed;
}


.stats-table th, .stats-table td {
    border: 1px solid #6b7280;
    padding: 10px 14px;
}

.stats-table td {
    background-color: #fff;
}

.stats-table th:first-child,
.stats-table td:first-child {
    width: 290px;
}

.stats-table th:nth-child(2),
.stats-table td:nth-child(2) {
    width: 120px;
}

.stats-table th:nth-child(3),
.stats-table td:nth-child(3) {
    width: 120px;
}

.stats-table th:nth-child(4),
.stats-table td:nth-child(4) {
    width: 120px;
}

.stats-table th:nth-child(n+5),
.stats-table td:nth-child(n+5) {
    width: 120px;
}

.row-label {
    text-align: left;
    background-color: #f9fafb;
}

.total-row {
    background-color: #f7fbff;
}

.total-cell {
    background-color: #f7fbff;
}

.stats-table td.in-range {
    background-color: lightgreen !important;
}


.stats-wrapper::-webkit-scrollbar {
    height: 8px;
}

.stats-wrapper::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px;
}


.stats-wrapper::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.stats-wrapper::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.stats-divider {
    height: 3px;
    width: 100%;
    background-color: lightgray;
}

.moderation-stats-title {
    margin: 5px;
}


.moderation-stats-cards > .stats-wrapper {
    margin-top: 10px;
}


.no-moderation-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}














