
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    letter-spacing: 0.04em;
}


/* Temporary Navigation Bar */
.nav-bar {
    width: 100%;
    background-color: black;
    padding: 30px 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.container h2 {
    margin: 30px 400px 10px 400px;
    font-weight: normal;
}

.container h3 {
    margin: 10px 400px 15px 400px;
    font-weight: normal;
}

.table-header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    align-items: center;
    margin: 0 auto;
    gap: 280px;
}

.head-divider {
    display: flex;
    height: 5px;
    width: 1120px;
    background-color: lightgray;
    margin: 5px auto 5px auto;
}

.accordion {
    margin: 5px 400px;
    background-color: white;
    font-size: 15px;
    flex-direction: column;
    border: none;
    outline: none;
    transition: 0.45s;
    padding: 2px 25px;
}

.divider {
    display: flex;
    height: 3px;
    width: 1120px;
    background-color: lightgray;
    margin: 5px auto 5px auto;
}

.active, .accordion:hover {
    background-color: lightgray;
}

.panel {
    display: none;
    padding: 10px;
    overflow: hidden;
}



















