/* Createed by William Alexander Tang Wai on 18/09/2025 */

body {
  background-color: #eeeeee;
  color: black;
  font-family: 'Inter', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}