/* Created by William Alexander Tang Wai on 18/09/2025 */

body {
  background-color: #eeeeee;
  color: black;
  font-family: 'Inter', sans-serif;
}

/********************************************************/
/* Sidebar */
/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* The sidebar menu */
.settings-sidebar {
  height: 100%;
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top, below topbar */
  top: 64px; /* Stay at the top */
  left: 0;
  background-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The navigation menu links */
.settings-sidebar a {
  padding: 0 0 10px 0;
  text-decoration: none;
  color: #eeeeee;
  display: block;
  font-size: 24px;
  font-weight: medium;
}

/* Active page link */
.settings-sidebar a.active {
  color: #00a6b2; /* highlight color */
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* When you mouse over the navigation links, change their color */
.settings-sidebar a:hover {
  color: #6b7280;
}

/* Style page content */
.page-content {
  margin-left: 120px; /* Same as the width of the sidebar */
  padding: 10px;
}

/********************************************************/
/* Form */
#email-form, #psw-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

#psw-form {
  padding-top: 0;
}

.profile-page {
  height: 90vh;
}

/********************************************************/
/* Initials Container */
/* Centre the circle itself */
.profile-circle-container {
  display: flex;
  justify-content: center;
}

/* Profile Circle */
.profile-text {
  width: 175px;
  height: 175px;
  border: 3px solid #6b7280;  /* circle border */
  border-radius: 50%;
  background-color: #eeeeee;  /* circle background */
  color: black;               /* text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: bold;
  margin: 50px 0 30px 0;
}

/********************************************************/
/* Container for input boxes */
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: medium;
}

/* Label */
label {
  width: 600px;
  margin: 5px 0 0 0;
}

/* Input boxes */
input[type=text], input[type=email], input[type=password] {
  width: 600px;
  border: 1px solid #6b7280;
  padding: 12px 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

/* Password box and eye icon */
.password-container {
  position: relative;
}

/* Leave space inside password box for eye icon */
.password-container input {
  padding: 12px 40px 12px 10px;
}

/* Position of eye icon */
.password-container .eye-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 25px;
}

#email-error-msg, #psw-error-msg {
  color: #d41a1a;
  display: none;      /* hidden by default */
  margin: 0;
  font-size: 14px;
}

/********************************************************/
/* Other text */
.change-title {
  width: 600px;
  margin: 0 0 10px 0;
  font-size: 32px;
  font-weight: medium;
}

#current-email-title, #current-email-text {
  width: 600px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: medium;
}

/********************************************************/
/* Save Changes Button Container */
/* Right align the button */
.button-container {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}