/* Created by William Alexander Tang Wai on 16/09/2025 */
/* Collapsibles/Accordion Tutorial on https://www.w3schools.com/howto/howto_js_accordion.asp */

/* Black Background, white text, Inter font to all body texts */
body {
  background-color: #eeeeee;
  font-family: 'Inter', sans-serif;
}

/* Container for all accordions (i.e. years) */
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px 200px 50px 200px;
}

/*****************************************************************/
 /* Buttons used to open and close the accordion panel (Years) */
.accordion, .accordion1 {
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}

.accordion {
  margin-top: 15px;
}

.accordion1 {
  font-size: 20px;
}

/* Background color of button if hovered or clicked on (add the .active class with JS) */
.active, .accordion:hover, .accordion1:hover {
  background-color: #eeeeee;
}

/*****************************************************************/
/* Add a button to indicate whether the collapsible content is open/closed */
.accordion:after, .accordion1:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url("../images/home-page/arrow.png") no-repeat center center;
  background-size: contain;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

/* Rotate when expanded */
.active:after {
  transform: rotate(90deg);
}

/* Rotate + enlarge on hover */
.accordion.active:hover::after, .accordion1.active:hover::after {
  transform: rotate(90deg) scale(1.2);
}

/* Enlarge on hover when not active */
.accordion:not(.active):hover::after, .accordion1:not(.active):hover::after {
  transform: scale(1.2);
}

/*****************************************************************/
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 0;
  background-color: #eeeeee;
  display: none;
  overflow: hidden;
}

/*****************************************************************/
/* Tables (i.e. Moderations) */
/* https://www.w3schools.com/howto/howto_css_table_side_by_side.asp */
/* https://www.w3schools.com/css/css3_borders.asp */
/* https://www.w3schools.com/css/css_table.asp */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  padding: 10px;
}

table {
  border-radius: 10px;
  border-spacing: 0;
  width: 100%;
  border: 3px solid #6b7280;
}

th {
  text-align: left;
  padding: 16px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #6b7280;
}

td {
  text-align: left;
  padding: 16px;
  font-size: 16px;
  font-weight: 300;
}

.difference {
  color: #22c55e
}

tr:nth-child(even) {
  background-color: #cccccc;
}